<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
   <p><%= link_to t(:login).capitalize, new_admin_session_path %></p>
  </a>
</nav>

<h2><%= t(:resume).capitalize %></h2>